@media (max-width: 2560px) {

/********** UNIVERSAL STYLING *********/
body {
  height: auto;
}


#wrapper {
  float: left;
  margin: 0 auto;
  padding-top: 3%;
  width: 100%
}

.blue {
  background: blue;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.float-none {
  clear: both;
}

.hide {
  display: none;
}

ul {
  list-style: none;
}



a {
  color: inherit;
  text-decoration: none;
}


.arrow {
  padding-left: 4%;
  width: 5%;
}

.float--left {
  float: left;
}

.container {
  margin: 0px auto;
  width: 100%;
}


/******** NAV STYLING **********/


.navcontainer {
  float: left;
  margin-left: 20%;
  overflow: hidden;
  margin-top: 0;
  width: 100%;
}

.logo h1 {
  font-size: 1.65em;
  font-weight: lighter;
  letter-spacing: .025em;
  margin-bottom: 3%;
  margin-top: 0;
  width: 100%;
}

nav {
  display: block;
  float: left;
  height: 100%;
  width: 15%;
}

.logo {
  padding-bottom: 10%;
  width: 100%;
}

.logosubtitle {
  font-size: .75em;
  margin-top: 0;
}

.primarynav{
  float: left;
}

.secondarynav {
  float: left;
  font-weight: lighter;
  margin: 0 auto;
  width: 100%;
}

.primarynav ul {
  float: left;
  margin: 0 auto;
  padding-bottom: 5%;
  width: 100%;
}

.secondarynav ul {
  float: left;
  padding: 5%;
}

.primarynav li {
  float: left;
  font-size: .95em;
  font-weight: lighter;
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: left;
  width: 100%;
}

.socialmedia {
  float: left;
  text-align: center;
}

.socialmedia li {
  display: block;
  float: left;
  width: 20%;
}

.socialmedia img {
  width: 50%;
}

/******** Image gallery styling *********/


#imageGallery {
  float: left;
  margin: 0 auto;
  width: 83%;
}



/* Begin Styling for Design Projects */

.projectcontainer {
  float: left;
  width: 83%;
}

.projecthero {
  float: left;
  width: 60%;
}

.projecthero img {
  width: 100%;
}
.projectdescription {
  float: left;
  margin-left: 3%;
  width: 36%;
}

.projectimage--largehorizontal {
  float: left;
  margin-top: 2%;
  overflow: hidden;
  width: 60%;
}

.projectimage--largevertical {
  float: left;
  margin-left: 3%;
  margin-top: 2%;
  overflow: hidden;
  width: 37%;
}

/* End Styling for Design Projects */

}








/**************************************
***************************************
Mobile Styling
***************************************
**************************************/


@media (max-width: 768px) {

nav {
  float: none;
  margin: 0 auto;
  width: 100%;
}

.logo {
  display: block;
  text-align: center;
  width: 100%;
}

.arrow {
  margin: 0 auto;
  padding-left: 1%;
  width: 1.5%;
}

.navcontainer {
  background: red;
  display: block;
  float: none;
  margin: 0 auto;
  width: 100%;
}

.primarynav {
  display: block;
  float: none;
  text-align: center;
  width: 100%;
}

.primarynav li {
  text-align: center;
  width: 100%;
}

#imageGallery {
  float: none;
  max-width: 100%;
}

#imageGallery img {
  float: none;
  height: auto;
  max-width: 100%;
}

.royalSlider {
  display: none;
}

#imageGalleryMobile {
  display: block;
}

.secondarynav {
  float: none;
  margin: 0 auto;
  width: 100%;
}

.secondarynav ul {
  padding-left: 0;
  text-align: center;
  width: 100%;
}

}
