.blue {
  background: blue;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.float-none {
  clear: both;
}

.hide {
  display: none;
}

.navcontainer {
  margin: 0 auto;
  overflow: hidden;
  width: 80%;
}

.container {
  margin: 0px auto;
  width: 100%;
}

.rotate {
  transform: rotate(180deg) translate(-100%,-100%);
  -webkit-transform: rotate(180deg) translate(-100%,-100%);
  -ms-transform: rotate(180deg) translateX(-100%,-100%);
  transition: .3s;
}

.rotate-reset {
  transform: rotate(0deg);
  transition: .3s;
}

ul {
  list-style: none;
}

.logo h1 {
  font-size: 2em;
  font-weight: bold;
}


a {
  color: inherit;
  text-decoration: none;
}

nav {
  float: left;
  margin: 0px auto;
  max-width: 1920px;
  width: 15%;
}

.arrow {
  padding-left: 4%;
  width: 6%;
}

.float--left {
  float: left;
}

.logo {
  font-size: 1em;
  width: 100%;
}

.primarynav, #secondary-nav--design {
  float: left;
  font-family: 'Futura', sans-serif;
  font-weight: 100;
  margin: 0 auto;
  width: 100%;
}

.primarynav ul {
  margin: 0 auto;
  padding-left: 15%;
  width: 100%;
}

#secondary-nav--design ul {
  overflow: hidden;
  padding: 5%;
}

.primarynav li, #secondary-nav--design li {
  float: left;
  font-size: 1em;
  margin: 0 auto;
  padding: 3%;
  text-align: left;
  width: 100%;
}

.socialmedia {
  float: left;
  text-align: right;
}

.socialmedia li {
  float: left;
  width: 33.333%;
}


/* Begin image gallery styling */


.imageGallery {
  float: left;
  height: 100%;
  width: 85%;
}

.imageGallery img {
  height: auto;
  max-width: 100%;
}


/* Begin Styling for Design Projects */

.projectcontainer {
  clear: both;
  width: 100%;
}

.projecthero {
  float: left;
  width: 60%;
}
.projectdescription {
  float: left;
  width: 39%;
}

.projectimage--largehorizontal {
  float: left;
  margin-top: 2%;
  width: 60%;
}

.projectimage--largevertical {
  float: left;
  margin-top: 2%;
  width: 38%;
}

/* End Styling for Design Projects */
